h5{
    color: rgb(87, 190, 230);
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 580px;
}
h6{
    font-size: 65px;
    color: rgb(92, 80, 228);
}
h4{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(9, 145, 190);
}
h3{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 214, 226);
}
